<div class="modal-header">
   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
   <h3 id="myModalLabel">New</h3>
</div>
<div class="modal-body">
	<%= form_for @todo, :html => {:class => "form-horizontal center"} do |f| %>
	  	<%= f.text_field :item, :placeholder => "Add new item", class: "input" %><br />
	  	<%= f.submit "Add", class: "btn btn-default btn-primary custom-button" %>
	<% end %>
</div>
