
<div class="container"> 
	<table class="table table-hover table bordered">
		<thead>
			<tr>
				<th>Task</th>
			</tr>
		</thead>
		<tbody>
			<% @todos.each do |todo| %>
			<tr>
				<td><%= todo.item %></td>
				<td><%= link_to "Edit", edit_todo_path(todo) %></td>
				<td><%= link_to "Delete", todo, method: :delete %></td>
			</tr>
			<% end %>
		</tbody>
	</table>

	<p><%= link_to "New", new_todo_path %></p>
</div>