<header class="navbar navbar-fixed-top">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
         <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "My Tasks", todos_path %></li>
      </ul>
    </nav>
  </div>
</header>